<div class="main">
  <div class="container">
    <h1 class="mb-4">Share your talent with the world. List your service.</h1>

    <p class="mb-4">Get booked by hundreds of event hosts near you</p>

    <%= simple_form_for([@user, @service]) do |f| %>
      <%= f.input :name, collection: Service::GENRES, :placeholder => 'Select a genre' %>
      <%= f.input :rate, :label => 'Rate per song', input_html: { min: 1 } %>
      <%= f.input :demo_link, :label => 'Link to a demo video' %>
      <%= f.input :photo, as: :file, :label => 'Upload a photo' %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
