<div class="container">
  <h1>Offer your talent</h1>

  <p>Add a service to your portfolio</p>

  <%= simple_form_for([@user, @service]) do |f| %>
    <%= f.input :name, collection: Service::GENRES, :placeholder => 'Select a genre' %>
    <%= f.input :rate, :label => 'Rate per song', input_html: { min: 1 } %>
    <%= f.input :demo_link, :label => 'Link to a demo video' %>
    <%= f.input :photo, as: :file, :label => 'Upload a photo' %>
    <%= f.submit %>
  <% end %>
</div>
