<div class="container">
  <%= cl_image_tag @service.photo.key, height: 150, width: 200, crop: :fill %>
  <%= @service.name %>
  <%= "$#{@service.rate}" %>

  <% if current_user.user_type == 'Artist' %>
    <%= link_to "Edit service", edit_service_path(@service) %>
  <% else %>
    <%= link_to "Book service", '#' %>
  <% end %>
</div>
