<div class="main">

  <div class="p-5 single-item">

    <div class="booking-content">
      <div>
        <% if @service.photo.attached?  %>
          <%= cl_image_tag @service.photo.key %>
        <% else %>
          <img alt="image" src="https://images.unsplash.com/photo-1567361672830-f7aa558ec4e3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80">
        <% end %>
      </div>

      <div>
        <h2><%= @service.name %></h2>
        <h4><%= "$#{@service.rate}/hr" %></h4>
      </div>
  </div>

    <%= simple_form_for([@service, @booking]) do |f| %>
      <%= f.input :num_songs, :label => 'How many songs?', input_html: { min: 1 } %>
      <%= f.input :booking_date, as: :date, html5: true %>
      <%= f.submit 'Confirm booking' %>
    <% end %>
  </div>

</div>
