<div class="container w-75 service-show p-4">
  <h3 class="mb-5"><%= @booking.service.name %></h3>

  <% if @booking.service.photo.attached? %>
    <%= cl_image_tag @booking.service.photo.key, height: 150, width: 200, crop: :fill %>
  <% else %>
    <img alt="image" src="https://images.unsplash.com/photo-1567361672830-f7aa558ec4e3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80">
  <% end %>

  <%= "Date: #{@booking.booking_date}" %>
  <%= "#{@booking.num_songs} songs" %>
  <h4 class="mt-5 mb-5"><%= "Rate p/song $#{@booking.service.rate}" %></h4>
  <%= "Total: $#{@booking.amount}" %>
  <%= link_to "All my bookings", bookings_path, class: 'btn booking-button-services show-service-button' %>
</div>
